body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 16.66% auto;
    background-repeat: repeat;
    opacity: 0.3;
    z-index: -1;
}

.main-container {
    display: flex;
    height: 100vh;
    padding: 30px 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    margin-left: 10%
}

.sidebar {
    width: 200px;
    padding-right: 20px;
}

.sidebar-logo {
    display: block;
    width: 100%;
    padding-bottom: 100%; /* This maintains the square aspect ratio */
    margin-bottom: 20px;
    border-radius: 5px;
    background-size: 60%; /* This shrinks the logo by 40% */
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.youtube-logo {
    background-image: url('/static/images/youtube_logo.png');
}

.linkedin-logo {
    background-image: url('/static/images/linkedin_logo.png');
}

.resume-logo {
    background-image: url('/static/images/rhenium_logo.webp');
}

.sidebar-button {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

.chat-container {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    border: 2px solid #007bff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: 16.66% auto;
    background-repeat: repeat;
    opacity: 0.1;
    z-index: -1;
    border-radius: 8px;
}

#chat-messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    line-height: 1.5; /* Increased line height for better readability */
}

.bot-message {
    background-color: #f0f0f0;
}

.user-message {
    background-color: transparent;
}

.input-area {
    display: flex;
    margin-top: 10px; /* Added margin to separate from chat messages */
}

#user-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

#send-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}


