<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive resume chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    <style>
        .background-container {
            background-image: url('{{ background_image_url }}');
        }
    </style>
</head>
<body>
    <div class="background-container"></div>
    <div class="main-container">
        <div class="sidebar">
            <a href="{{ video_url }}" class="sidebar-logo youtube-logo" aria-label="Candidate Video"></a>
            <a href="{{ linkedin_url }}" class="sidebar-logo linkedin-logo" aria-label="LinkedIn Profile"></a>
            <a href="{{ resume_url }}" class="sidebar-logo resume-logo" aria-label="Resume"></a>
        </div>
        <div class="chat-container">
            <h1>Let's chat about my experience!</h1>
            <div id="chat-messages"></div>
            <div id="initial-greeting" style="display: none;">{{ initial_greeting }}</div>
            <div class="input-area">
                <input type="text" id="user-input" placeholder="Type your message...">
                <button id="send-button">Send</button>
            </div>
        </div>
    </div>

    <script>
        var initialGreeting = "{{ initial_greeting | safe }}";
    </script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>


</body>
</html>
